<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="h-100 gradient-form"  style="background-color:rgba(229, 243, 238, 0.776);" data-stellar-background-ratio=".5">
  <br><br><br><br><br>
  <div class="container" style="height: 900px;">
    <div class="row">
      <img src="{% static 'images/x.jpg' %}" alt="Image" class="img-fluid rounded" style="height: 480px;position: relative;left: -150px; width: 500px;top: 100px;">
                <div class="text-center" style="position: relative;left: 300px; bottom: 300px;width:800px;">
               
    
     
              </div>
            </div>
            <div class="col-lg-6"style="position: relative;left: 400px;bottom: 570px;">
             
              
              <br><br><br><br><br>
              <div class="card-body p-5 mx-md-4 border border-dark" style="width: 800px;">
               <h3 style="font-family: 'Cookie';font-size:42px;color: black; ">About us.......</h3>
              <br>
               <p style="font-size:18px;color: black;"> EXPERIENCE OUR LEGACY IN EVERY STAY.</p><p style="color: black;">

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This name of ours, it’s everything to us.

It reminds us of our roots. It honors our legacy of leadership in hospitality. It signifies our commitment to our guests. But most importantly, it propels us forward on the path set from the very start.

From day one, the Marriott’s set out to hone the craft of hospitality, to raise hosting to an art form, and to elevate that art at every opportunity. And that’s just what we’ve been doing for more than 60 years.

Putting people first. Pursuing excellence at every turn. Evolving with our guests’ needs in mind. Acting with integrity. And serving as a force for good, not only for our guests but for the world.</p>

<p style="color: black; font-size:17px;">It’s not just a name, it’s our standard—and it’s a high one.</p> <p style="color:black">

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;But our name hasn’t just set the standard for hospitality, it’s raised it: innovating at every opportunity and earning the trust of travelers all around the globe. From our refined, consistent experience, to our heartfelt service, it’s clear at every touchpoint that our Hosts take pride in what they do, that they’re in constant pursuit of better – for you.

As proud masters of our craft, we know that our job is never finished. Because we believe that legacies aren’t made in the past, they’re what you live and breathe every single day.</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<link href="https://fonts.googleapis.com/css?family=Cookie&display=swap" rel="stylesheet"> 

{% endblock %}