<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="h-100 gradient-form"  style="background-color:rgba(229, 243, 238, 0.776);" data-stellar-background-ratio=".5">
  <br><br><br><br><br>
  <div class="container" style="height: 900px;">
    <div class="row">
      <img src="{% static 'images/x.jpg' %}" alt="Image" class="img-fluid rounded" style="height: 480px;position: relative;left: -150px; width: 500px;top: 100px;">
                <div class="text-center" style="position: relative;left: 300px; bottom: 300px;width:800px;">
               
    
     
              </div>
            </div>
            <div class="col-lg-6"style="position: relative;left: 400px;bottom: 470px;">
             
              
              <br><br><br><br><br>
              <div class="card-body p-5 mx-md-4 " style="width: 800px;background-color: rgba(11, 134, 132, 0.936);">
              <h4 style="position:relative;left: 30px;">Updating the Data for Room No: {{room.room_no}}</h4>
              <div class="card-body p-md-10 mx-md-4 " >
               
              
                
                        {% if messages %}
                    {% for messsage in messages %}
                    {% if messsage.tags == 'info' %}
                   <div class='chip green white-text' style="color:red">{{messsage}}</div>
                   {% endif %}
                    {% if messsage.tags == 'warning' %}
                   <div class='chip red white-text' style="color:red">{{messsage}}</div>
                   {% endif %}
                   <br>
                    {% endfor %}
                    {% endif %}
                  
                  <form class="col s12" method="POST" >
                  {% csrf_token %}
                  <div class="form-outline mb-4">
                    <label for="price" style="color: black;">Price</label>
                    <input type="text" name="price" id="price" value="{{room.price}}" required class="validate">

                  </div>
                       
              
                 
                 

                  <div class="form-outline mb-4">
                    <label for="start_day" style="color: black;">From when room will be available for booking</label>
                    <input type="date" name="start_day" id="start_day" class="datepicker"  required class="validate" value="{{room.start_date}}">

                  </div>
                  <div class="form-outline mb-4">
                    <label for="end_day" style="color: black;">From when room will not be available for booking</label>
                    <input type="date" name="end_day" id="end_day" class="datepicker"  required class="validate" value="{{room.end_date}}">

                  </div>
                    
                     
                         
                        <div class="center">
                        <input type="submit" class="btn green btn-large" value="update_room" style="background-color: rgb(6, 117, 117);color:white;position: relative;left:190px" >
                        </div>   </div>
                      </form>
                  </div>

              </div>
            </div>
          </div>
        </div>
      </div>
 
</section>

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

{% endblock %}